* {
    box-sizing: border-box;  
}

body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.container {
    display: flex;
    align-items: center;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid seashell;
    height: 69px;
    width: 100%;
    position: fixed;
    z-index: 1;
    
}

#home {
    height: 50px;
    opacity: 0.9;
    display: flex;
    margin-left: 10px;
}

nav {
    margin-right: 10px;
}

nav a {
    margin: 10px;
    color: seashell;
}


#mission {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: url(../images/img-mission-background.jpg);
    background-repeat: no-repeat;
    background-position:top;
    height: 700px;
    margin-top: 69px; 
}

.mission-text {
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-content: space-between;
    width: 1200px;
    background-color: black;
    padding: 10px;
    margin: 0;
    
}

